@model MiProyecto.Models.Haberes

@{
    ViewBag.Title = "ActionHaberes";
}

<h2>ActionHaberes</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">

        <h5 class="text-primary">Valores ingresados</h5>

        <!-- Campo DNI-->

        <div class="form-floating mb-3">

            <!--
            @Html.TextBoxFor(model => model.Dni, htmlAttributes: new { @class = "form-control mb-2", placeholder = "" })
            @Html.Label("Dni", htmlAttributes: new { @class = "control-label col-md-2" })
            -->

            <input type="text" id="Dni" name="Dni" value="@Model.Dni" class="form-control" placeholder=" " />
            <label for="Dni" class="form-label">Dni</label>
        </div>

        <!-- Campo Nombre -->

        <div class="form-floating mb-3">
            <input type="text" id="Dni" name="Nombre" value="@Model.Nombre" class="form-control" placeholder=" " />
            <label for="Nombre" class="form-label">Nombre</label>
        </div>

        <!-- Campo Categoria -->

        <div class="form-floating mb-3">
            <input type="text" id="Dni" name="Categoria" value="@Model.Categoria" class="form-control" placeholder=" " />
            <label for="Categoria" class="form-label">Categoria</label>
        </div>

        <!-- Campo SueldoBasico -->

        <div class="form-floating mb-3">
            <input type="text" id="Dni" name="SueldoBasico" value="@Model.SueldoBasico" class="form-control" placeholder=" " />
            <label for="SueldoBasico" class="form-label">SueldoBasico</label>
        </div>

        <!-- Campo TipoAportacion -->

        <div class="form-group mt-2">

            <!--
            @Html.Label("Tipo Aporte", htmlAttributes: new { @class = "control-label col-md-1 mb-2" })<br />

            @Html.RadioButtonFor(model => model.TipoAportacion, "AFP") AFP
            @Html.RadioButtonFor(model => model.TipoAportacion, "ONP") ONP
            -->

            <label class="control-label col-md-1 mb-2" for="TipoAportacion">Tipo Aporte</label>
            <input type="radio" value="AFP" @(Model.TipoAportacion == "AFP" ? "checked" : "") name="TipoAportacion" id="AFP" /> 
            <label for="AFP">AFP</label>

            <input type="radio" value="ONP" @(Model.TipoAportacion == "ONP" ? "checked" : "") name="TipoAportacion" id="ONP"/>
            <label for="ONP">ONP</label>

        </div>

        <hr />

        <h5 class="text-primary">Valores calculados</h5>

        <!-- Bonificacion() -->

        <div class="form-floating mb-3">

            <!--
            @Html.TextBox("Bonificacion", ViewBag.Bonificacion as string, htmlAttributes: new { @class = "form-control", placeholder = "" })
            @Html.Label("Bonificacion", htmlAttributes: new { @class = "control-label col-md-2" })
            -->

            <input type="text" name="Bonificacion" value="@ViewBag.Bonificacion" class="form-control" placeholder="" />
            <label for="Bonificacion" class="form-label">Bonificacion</label>
        </div>

        <!-- Remuneracion() -->

        <div class="form-floating mb-3">
            <input type="text" name="Remuneracion" value="@ViewBag.Remuneracion" class="form-control" placeholder="" />
            <label for="Remuneracion" class="form-label">Remuneracion</label>
        </div>

        <!-- Aportacion() -->

        <div class="form-floating mb-3">
            <input type="text" name="Aportacion" value="@ViewBag.Aportacion" class="form-control" placeholder="" />
            <label for="Aportacion" class="form-label">Aportacion</label>
        </div>

        <!-- Neto() -->

        <div class="form-floating mb-3">
            <input type="text" name="Neto" value="@ViewBag.Neto" class="form-control" placeholder="" />
            <label for="Neto" class="form-label">Neto</label>
        </div>

        <!-- BOTONES -->

        <div class="form-group mt-4">
            <input type="submit" value="Procesar" class="btn btn-success" />

            <!-- @Html.ActionLink("Nuevo", "ActionHaberes", null, new { @class = "btn btn-success" })-->

            <a href="@Url.Action("ActionHaberes")" class="btn btn-primary">Nuevo</a>
        </div>

    </div>
}
